#main {
  font-weight: bold;
  color: red;
}

.important {
  font-style: italic;
}

#wrapper {
  /* width: 80%; */
  height: 100px;
  /* position: absolute; */
  display: flex;
  justify-content: space-around;
  background: rgba(95, 94, 94, 0.933);
  color: white;
 
  padding-top: 50px;
 /*
  padding-left: 100px;
  padding-right: 100px;

  padding-bottom: 10px;

  border: 1px solid black;
  */
  font-size: x-large;
}

#logo img{
  width:40px;
  height:40px;
  margin-left: 10px;
}

.element:nth-child(1) 
{
  /* background: red; */
  /* margin-top: 30px; */
  align-self: flex-left;
  margin-left: 10px;
  padding-bottom: 20px;
  font-size:xx-large ;
      /* background: greenyellow; */
}

.element:nth-child(2) 
{
    margin-left: 400px;
    margin-top: 10px;
    /* background: greenyellow; */
}

.element:nth-child(3) 
{
  margin-top: 10px;
    /* background: blueviolet; */
}


.section_best_movie {
  background-size: cover;
  border:black 1px ;
  padding: 10px 10px 10px 10px;
}

.section_best_movie_title_h1 {
  /* padding-top: 80px; */
  font-size: 40px;
  color: black;
}

.section_best_movie_title_h2 {
  /* padding-top: 80px; */
  font-size: 30px;
  color: greenyellow;
}

.section_best_button {
  background-color:red;
  color: black;
  border:none;
  font-size: 30px;
  padding: 5px 30px;
  border-radius:20px;
}

/*
.button {
  font-size: 18px;
  width: 120px;
}

.best_movie_description p{
  margin-right: 60%;
  margin-top: 3%;
  line-height: 180%;
  font-style: italic;
}
*/

#section_best_img_id.section_best_img img{
  width: 20%;
  /*
  max-width: 280px;
  min-width: 200px;
  */
  float: right;
  border-radius: 10px;
  /*
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.4);
  */
}

#wholepage {
  width: 900px
  margin-left: auto;
  margin-right: auto;
}